{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.10.3"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-class-properties"
  ]
}
