{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.11.4"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ]
}
