language: node_js
dist: trusty
node_js:
  - 6.10

addons:
  firefox: "55.0"

notifications:
  email: false

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

script:
  - npm run ci
