# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Foxdriver test pipeline

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
            node-version: '12.x'
      - run: npm install
      - run: |
            export DISPLAY=:99.0
            sh -e /etc/init.d/xvfb start
            sleep 3
            npm run ci
